<div class="menu-category">
    <h3>Bebidas Calientes</h3>
    <div class="menu-item">
        <img src="imagenes/7.jpg" alt="Café Americano">
        <div class="menu-text">
            <h4>Café Americano</h4>
            <p>Delicioso y fuerte, hecho con los mejores granos de cafe colombiano.</p>
        </div>
        <span>Bs20</span>
    </div>
    <div class="menu-item">
        <img src="imagenes/6.jpg" alt="Latte">
        <div class="menu-text">
            <h4>Latte</h4>
            <p>Suave y cremoso, perfecto para cualquier ocasión.</p>
        </div>
        <span>Bs25</span>
    </div>
    <div class="menu-item">
        <img src="imagenes/9.jpg" alt="Capuchino">
        <div class="menu-text">
            <h4>Capuchino</h4>
            <p>Un clásico, con el balance perfecto de espuma y sabor.</p>
        </div>
        <span>Bs25</span>
    </div>
</div>
<div class="menu-category">
    <h3>Bebidas Frías</h3>
    <div class="menu-item">
        <img src="imagenes/10.jpg" alt="Frappés">
        <div class="menu-text">
            <h4>Frappés</h4>
            <p>Refrescante y dulce, ideal para el verano.
                <ul>
                    <li>Frappe Chocolate</li>
                    <li>Frappe de Oreo</li>
                    <li>Frappe Manjar de la Casa</li>
                    <li>Frappe Cookies & Cream Frappuccino</li>
                    <li>frappe Pink</li>
                </ul>
            
        </div>
        <span>Bs35</span>
    </div>
    <div class="menu-item">
        <img src="imagenes/12.jpg" alt="Iced Latte">
        <div class="menu-text">
            <h4>Iced Latte</h4>
            <p>El clásico latte, pero frío y refrescante.</p>
        </div>
        <span>Bs30</span>
    </div>
</div>
<div class="menu-category">
    <h3>Pastelería y Desayunos</h3>
    <div class="menu-item">
        <img src="imagenes/14.jpg" alt="Pastel de Zanahoria">
        <div class="menu-text">
            <h4>Pastel de Zanahoria</h4>
            <p>Hecho en casa, dulce y esponjoso.</p>
        </div>
        <span>Bs25</span>
    </div>
    <div class="menu-item">
        <img src="imagenes/11.jpg" alt="Desayuno Americano">
        <div class="menu-text">
            <h4>Desayuno Americano</h4>
            <p>salchicas,tosino,huevo frito o revuelto,pan tostado<br>
            pancake con miel y cafe Americano o Capuchino</p>
        </div>
        <span>Bs45</span>
    </div>
</div>
