<section id="trabaja-con-nosotros" class="trabaja">
    <div class="image-container">
        <img src="imagenes/15.jpg" alt="Cafetería Aroma y Sabor" class="image" />
      </div>
    <!-- Mensaje de agradecimiento que aparecerá primero -->
    <div *ngIf="mostrarMensaje" class="mensaje-container">
      <h2>¡Gracias por elegir nuestra cafetería!</h2>
      <p>Estamos encantados de que quieras unirte a nuestro equipo. Por favor, completa el siguiente formulario para enviar tu solicitud de empleo.</p>
      <button (click)="mostrarFormulario()">Ir al formulario</button>
    </div>
  
    <!-- Formulario de solicitud de empleo, inicialmente oculto -->
    <div *ngIf="mostrarFormularioFlag" class="formulario-container">
      <h2>Formulario de Solicitud de Empleo</h2>
      <form action="enviar_solicitud.php" method="post">
        <label for="nombre-completo">Nombre Completo:</label>
        <input type="text" id="nombre-completo" name="nombre-completo" required>
  
        <label for="telefono">Número de Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required>
  
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>
  
        <label for="edad">Edad:</label>
        <input type="number" id="edad" name="edad" required>
  
        <label for="hijos">Hijos:</label>
        <input type="number" id="hijos" name="hijos" required>
  
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>
  
        <button type="submit">Enviar Solicitud</button>
      </form>
    </div>
  </section>
  