<div class="container">
  <!-- Nombre de la cafetería -->
  <h1 class="title"><u>BIENVENIDOS A CAFETERIA</u></h1>
  <h1 class="title"><u>AROMA Y SABOR</u></h1>

  <section class="galeria">
    <img src="imagenes/1.jpg">
    <img src="imagenes/2.jpg">
    <img src="imagenes/3.jpg">
    <img src="imagenes/4.jpg">
    <img src="imagenes/5.jpg">
</section>

 
  <!-- Historia de la cafetería -->
  <div class="history">
    <p>
      En Aroma y Sabor, nos apasiona ofrecer a nuestros clientes una experiencia única
      a través de nuestro café de alta calidad. Fundada en el año 2010, nuestra cafetería
      nació con el objetivo de crear un espacio acogedor para los amantes del café y la
      cultura del buen beber. Con un enfoque en el servicio personalizado y un ambiente
      relajante, Aroma y Sabor se ha convertido en un lugar de encuentro para amigos,
      familias y profesionales, brindando momentos memorables acompañados de una taza
      de café exquisita.
      
    </p>

    <p>En Cafetería Aroma Y Sabor, ofrecemos una experiencia única de café, combinando granos de alta calidad con un ambiente acogedor y cálido. Somos una cafeteria familiar. Amantes del cafe tradicional, ven y disfruta de nuestros productos artesanales. Nuestra cafeteria se encuenta ubicada en el Tercer Anillo externo AV republica del Japon</p>
        <A href="https://maps.app.goo.gl/fsgBP9v3ZYE7Z5xs7">Nuestra Ubicacion en el Mapa</A>
        <p>Siguemos en nuestras redes sociales:</p>
        <A href="https://www.instagram.com/aromaysaborcafe2024/?hl=es"><img src="imagenes/insta.jpg"style="width: 50px; height: 50px;"></A>
            <A href="https://www.tiktok.com/@cafeteria_aroma_y_cafe"><img src="imagenes/tik.jpg" style="width: 50px; height: 50px;"></A>
  </div>
  <p>
  <p>
  <p> 

  <!-- Mensaje de derechos reservados -->
  <p class="footer">&copy; 2024 Cafetería Aroma y Sabor. Todos los derechos reservados.</p>
</div>


